{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}{{ post["title"] }}{% endblock %}</h1>
    {% if "admin" in g.groups %}
        <a class="action" href="{{ url_for("blog.update", id=post["id"]) }}">Edit</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
        <p class="body">{{ post["body"] }}</p>
        <hr>
        {% for file in files %}
            <div>
                <a href="{{ url_for("files.download", fid=file.id) }}">{{ file.name }}</a><br>
                {% if file.isaudio %}
                    <audio controls src="{{ url_for("files.download", fid=file.id) }}">Your browser does not support audio.</audio>
                {% endif %}
            </div>
        {% endfor %}
    </article>
{% endblock %}
