{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>
	
	{% else %}
	
	<head>

		<meta charset="utf-8">
		<!--<meta http-equiv="refresh" content="30"/>-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="-1">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- sets the browsers viewport to the device width-->

		<link rel="stylesheet" href="{{ url_for("static", filename="style2.css") }}">

		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,900&subset=latin-ext,latin' rel='stylesheet' type='text/css'><!--includes the Google-fonts [source sans pro]-->

		<script type="text/javascript" src="./static/src/jquery.min.js?version=1"></script><!-- includes jQuery -->

		<script src="./static/src/zotero-bibtex-parse.js?version=1" type="text/javascript"></script> <!--includes parser for converting BibTex files into a JSON format -->

		<script src="./static/src/d3.js?version=1" charset="utf-8"></script> <!-- includes d3 javaScript library-->

		<script src="./static/src/d3.layout.cloud.js?version=1"></script> <!-- includes the used layout for the tag clouds in the pubViz visualization-->

		<script src="./static/src/pubvis.js??version=1" type="text/javascript" ></script> <!-- includes the core script of the pubViz visualization-->
		
	

	</head>
	<header>
      <div id="fa_toolbar" class="fa_fix fa_toolbar_XL_Sized">
         <span id="fa_left" class="fa_tbMainElement">
            <a class="menu-login"></a>
            <a class="btn btn-lg upload-btn" href="/data">Upload File</a>
            <a href="/coauthor" class="btn btn-primary">Co-authorship</a>
            <a href="/access" class="btn btn-success">Reports and statistics</a>
            <a href="/tree" class="btn btn-info">Radial Tidy Tree</a>
            <a href="/treemap" class="btn btn-danger">Treemap</a>º

           
         </span>
         <div id="fa_right" class="fa_tbMainElement">
         </div>
      </div>
   </header>
	
	
	

	<body>

		<script type="text/javascript" cache="no">
		    var bib = window.location.search.substr(1);
		    if (! bib) {
		        bib = "./static/upload/1.bib";
		        console.log(bib)
		    }

		    $(document).ready(function() {
		        PUBVIS.make_it_all ({
		            target : "#pubvis_container", //the node the pubViz visualization will be appended
		            filename : bib, //the bibTeX filename used for the pubViz visualization
		            color: "#71a00e", //color name or hex value which will be used for highlighting
		            decoraton_color: "#285b85" //optional parameter, default is hex value #333333
		        });
		    });
		</script>

		 <div id="pubvis_container"></div> <!-- an example for an costumer node on which the pubViz visualization will be append -->

	</body>
{% endif %}

{% else %}
<p>Not login!</p>

{% endif %}
{% endblock %}