<html>
  <style type="text/css">
  .sars {
        -moz-text-shadow: 1px 1px 5px #000 !important;
        -webkit-text-shadow: 1px 1px 5px #000 !important;
        color: currentColor;
        font-size: 48px;
        letter-spacing: .1em;
        text-shadow: 1px 1px 5px #000;
        margin: 5px -50px;
      }
      </style>
   <head>
      <title>SASR</title>
      <link rel="stylesheet" href="{{ url_for("static", filename="crenesoft.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menu.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-responsive.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="css.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="docs.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menú-estilo.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menurapido.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="ghs.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menu_centro.css") }}">
      
   </head>
   <header>
      <div id="fa_toolbar" class="fa_fix fa_toolbar_XL_Sized">
         <div id="fa_right" class="fa_tbMainElement">
         </div>
         <span id="fa_left" class="fa_tbMainElement">
            <a class="menu-login"></a>
            {% if session['logged_in'] %}
            <a style="color: red;font-size: medium;" href="/logout">Logout</a> You're logged in already!
            {% else %}
            <a href="/login">Sign In</a>
            {% endif %}
         </span>
      </div>
      <div id="pun-intro" class="clearfix"> 
         <div class="sun-intro"><h1 href="/index.html" class="sars" id="VigHub">SASR</h1>
         <div id="pun-title" style="display:none;">
            <h1></h1>
         </div>
         <p id="pun-desc" style="display:none;"></p>
      </div>
   </header>
   <body>
      
      {% block content %}{% endblock %}
   </body>





   <div>
      <div>
          <div>
            <div>
                <div>
                  <div>
                      <ul>
                        <li>
                        </li>
                      </ul>
                      <ul>
                        <li>
                        </li>
                      </ul>
                  </div>
                  <br>
                  
                </div>
               
            </div>
          </div>  
      </div>
    </div>
<div id="pun-foot"><div id="pun-about" class="clearfix"><div class="logobottom"></div><div class="info-foot">
      <p></p>
    

          
           </div>
        </div></div>
</html>