<html>
   <head>
      <title>SASR</title>
      <link rel="stylesheet" href="{{ url_for("static", filename="crenesoft.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menu.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap-responsive.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="css.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="docs.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menú-estilo.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menurapido.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="ghs.css") }}">
      <link rel="stylesheet" href="{{ url_for("static", filename="menu_centro.css") }}">
   </head>
   <header>
      <div id="fa_toolbar" class="fa_fix fa_toolbar_XL_Sized">
         <div id="fa_right" class="fa_tbMainElement">
         </div>
         <span id="fa_left" class="fa_tbMainElement">
            <a class="menu-login"></a>
            {% if session['logged_in'] %}
            <a href="/logout">Logout</a> 
            <p>You're logged in already!</p>
            {% else %}
            <a href="/login">Sign In</a>
            {% endif %}
         </span>
      </div>
      <div id="pun-intro" class="clearfix"> 
         <div class="sun-intro"><h1 href="/" id="VigHub">SASR</h1>
         <div id="pun-title" style="display:none;">
            <h1></h1>
         </div>
         <p id="pun-desc" style="display:none;"></p>
      </div>
   </header>
   <body>
      <hr>
      {% block content %}{% endblock %}
   </body>





   <div>
      <div>
          <div>
            <div>
                <div>
                  <div>
                      <ul>
                        <li>
    <!-- END html_validation -->
                        </li>
                      </ul>
                      <!-- BEGIN switch_footer_links -->
                      <ul>
                        <li>
                            <!-- BEGIN footer_link -->
                              <!-- BEGIN switch_separator --> | <!-- END switch_separator -->
                              
                            <!-- END footer_link -->
                        </li>
                      </ul>
                      <!-- END switch_footer_links -->
                  </div>
                  <br>
                  <p class="center">
                      
                  </p>
                </div>
               
            </div>
          </div>  
      </div>
    </div>
<div id="pun-foot"><div id="pun-about" class="clearfix"><div class="logobottom"></div><div class="info-foot">
      <p></p>
    

          
           </div>
        </div></div>
</html>